@import url(../vendor/fonts.css);

.page {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a5f378;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style:  normal;
    color: #212a31;
}

.profile {
    box-sizing: border-box;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.profile__title {
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 900;
    text-align: center;
    color: #8eda62;
}

.profile__image {
    width: 250px;
    height: 250px;
    margin-top: 0;
    margin-bottom: 30px;
    border-radius: 50%;
    background-image: url('https://images.unsplash.com/photo-1592753054398-9fa298d40e85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2002&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.6);
    background-position: center;
    cursor: pointer;
    transition: opacity 0.3s ease-in;
}

.profile__image:hover {
    opacity: 0.9;
    transform: scale(1.2);
}

.profile__name {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 900;
    text-align: center;
}

.profile__buttons {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.button {
    padding: 15px 20px;
    margin: 0 auto 20px;
    border: none;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: rgb(68, 87, 173);
    cursor: pointer;
    transition: opacity 0.3s ease-in;
    text-decoration: none;
}

.button:hover {
    background-color: rgba(68, 87, 173, 0.7);
}

.button:active {
    color:#a5f378;
}

.button.button_type_authorisation {
    margin-bottom: 30px;
}

.button-text {
    margin: 0;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.005em;
    text-transform: uppercase;
    text-align: center;
    color: white;
    transition: opacity 0.3s ease-in;
}

.friendlist {
    width: 100%;
    padding-left: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 25px;
    row-gap: 30px;
}

.friendlist__item {
    list-style-type: none;
    background-color: rgb(247, 244, 244);
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}

.friendlist__link {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -0.005em;
    text-align: center;
    color: inherit;
    border-radius: 5px;
}

.friendlist__photo {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    border-radius: 50%;
    object-fit: contain;
    object-position: center;
}

.friends {
    box-sizing: border-box;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.friends__title {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
}

@media (max-width: 1000px) {
    .search {
        width: 100%;
        margin: 0 auto 20px;
    }
    .page {
        padding: 10px;
    }
    .profile {
        padding: 10px;
    }
    .profile__image {
        width: 150px;
        height: 150px;
    }
    .profile__title {
        font-size: 28px;
    }
    .profile__name {
        font-size: 22px;
    }
}